html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    @include respond-to(large-desktop) {
        max-width: 1160px;
    }

    @include respond-to(desktop) {
        max-width: 960px;
    }

    @include respond-to(tablet) {
        padding: 0 20px;
        max-width: 720px;
    }

    @include respond-to(mobile-large) {
        max-width: 540px;
        padding: 0 15px;
    }
}
