.logo-container{
    @include respond-to(large-desktop) {
        max-width: 1160px;
    }

    @include respond-to(desktop) {
        max-width: 960px;
    }

    @include respond-to(tablet) {
        max-width: 720px;
    }

    @include respond-to(mobile-large) {
        max-width: 540px;
    }
}
