
.believe {
    padding-top: 100px;
}

.believe-container {
    display: flex;
    justify-content: space-between;
}

.believe-left {
    width: 40%;
    text-align: left;
    h2{
        margin-bottom: 40px;
    }
    .btn{
        margin-top: 50px;
    }
}
