.it-works{
    overflow: hidden;
}
.it-works-container {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    // min-height: 741px;
    padding: 150px 0;
    align-items: center;
}

.it-works-right-panel {
    width: 46.5%;
    position: relative;
    &:after{
        position: absolute;
        content: '';
        width: 216px;
        height: 108px;
        background: red;
        bottom: -14%;
        left: -10%;
        border-top-left-radius: 216px;
        border-top-right-radius: 216px;
    }
}

.top-img {
    position: absolute;
    top: -22%;
    left: 43%;
    z-index: 2;
}

.main-img {
    /* margin-top: 125px;
    max-height: 530px; */
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    right: -30px;
    // float: right;
    // max-width: 90%;
}

.it-works-left-panel {
    width: 53%;
    padding: 0 2% 0 9%;
    justify-content: center;
}
.it-works-content{
    padding-right: 10%;
}

.it-works-content p {
    color: #001e41;
    text-align: left;
    width: 83%;
    font: 300 1.6rem/1.187 "Lato", sans-serif;
    letter-spacing: 0;
    line-height: 21px;
}

.it-works-title h2 {
    text-align: left;
    width: 80%;
}

// responsive design code
@media all and (min-width: 800px) {
    .it-works-container {
        flex-direction: row;
    }
    .it-works-content p {
        color: #001e41;
        text-align: justify;
        width: 100%;
    }
}

.it-works-logo-content{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: baseline;
    margin-top: 10%;
    a{
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin: 0 20px;
        &:after {
            content: '';
            position: absolute;
            width: 1px;
            background: black;
            right: -20px;
            height: 50px;
            top: 50%;
            transform: translateY(-50%);
            cursor: default;
        }
        &:last-child {
            &:after{
                display: none;
            }
        }
    }
}
