.it-works{
    overflow: hidden;
    margin: 50px 0;
}

.it-works-container {
    background: $color-white;
    display: flex;
    flex-direction: row;
    padding: 130px 75px;
    align-items: center;

    @include respond-to(desktop) {
        flex-direction: column;
        padding: 25px;
    }
}

.it-works-container-content {
    max-width: 1115px;
}

.it-works-left-panel {
    width: 50%;
    justify-content: center;
    color: #001e41;
    h2{
        color: #012f66;
    }

    @include respond-to(desktop) {
        width: 100%;
    }
}

.it-works-content {
    max-width: 500px;
    padding-right: 50px;

    @include respond-to(desktop) {
        max-width: none;
        padding-right: 0;
    }
}

.it-works-logo-content{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: baseline;
    margin-top: 40px;

    @include respond-to(desktop) {
        margin-bottom: 40px;
    }

    img{
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }

    a{
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin: 0 20px;

        @include respond-to(desktop) {
            width: 50%;
        }

        &:after {
            content: '';
            position: absolute;
            width: 1px;
            background: #707070;
            right: -20px;
            height: 50px;
            top: 50%;
            transform: translateY(-50%);
            cursor: default;
        }
        &:last-child {
            &:after{
                display: none;
            }
        }
    }

}

.it-works-right-panel {
    width: 50%;
    position: relative;

    @include respond-to(desktop) {
        width: 100%;
    }

    &:after{
        position: absolute;
        content: '';
        width: 216px;
        height: 108px;
        background: red;
        bottom: -14%;
        left: -10%;
        border-top-left-radius: 216px;
        border-top-right-radius: 216px;

        @include respond-to(desktop) {
            display: none;
        }

    }
    .top-img {
        position: absolute;
        top: -22%;
        left: 43%;
        z-index: 2;

        @include respond-to(desktop) {
            display: none;
        }
    }
    .main-img {
        position: relative;
        z-index: 1;
        width: 100%;
        height: auto;
        right: -30px;

        @include respond-to(desktop) {
            right: 0;
        }
    }
}
