
/* My code starts here for logo and top banner */
.top-page{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

header{
    width: 100%;
}

.menu{
    &:after{
        content: '';
        clear: both;
        display: block;
    }
}

#nav{
    float: right;
    position: relative;

    span{
        position: relative;
        z-index: 20;
        display: block;
        margin-bottom: 6px;
        width: 24px;
        height: 4px;
        background: #707070;
        transition: transform .3s cubic-bezier(.77, .2, .05, 1), background .3s cubic-bezier(.77, .2, .05, 1), opacity .2s ease;
        &:last-child {
            margin-bottom: 0;
        }
    }

    input{
        position: absolute;
        z-index: 25;
        opacity: 0;
        cursor: pointer;
        right: 0;
        top: 0;
        width: 35px;
        height: 28px;
        margin: 0;
        &:checked ~ span{
            background: #004a80;
            transform: rotate(45deg) translate(10px, 10px);
            &:nth-child(3){
                opacity: 0;
                transform: rotate(0deg) scale(0, 0);
            }
            &:nth-child(4){
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }
    }

    ul{
        position: absolute;
        z-index: 10;
        width: 300px;
        top: -15px;
        right: -15px;
        display: none;
        background: #fff;
        padding: 60px 40px 20px;
        list-style: none;
        margin: 0;
        text-transform: uppercase;
        li{
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            letter-spacing: 10px;
            margin-bottom: 20px;
        }
        a{
            color: #6c6c6c;
            text-decoration: none;
            &.yellow{ color: yellow; }
            &:hover,
            &:focus{
                color: blue;
            }
        }
    }
}

.logo-container {
    text-align: center;
    padding-top: 20px;
    a{
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin: 0 20px;
        &:after {
            content: '';
            position: absolute;
            width: 1px;
            background: #ccc;
            right: -20px;
            height: 50px;
            top: 50%;
            transform: translateY(-50%);
            cursor: default;
        }
        &:last-child {
            &:after{
                display: none;
            }
        }
    }
}

.banner{
    display: inline-block;
    width: 100%;
}

.banner-image{
    margin: 60px 0;
}

.banner-holder{
    position: relative;
    overflow: hidden;
    max-width: 950px;
    margin: 0 auto;
    width: 100%;
    background: #fff;

    @include respond-to(desktop) {
        max-width: 700px;
    }
}
.bg-back{
    position: absolute;
    height: 100%;
    width: 1440px;
    left: 50%;
    transform: translateX(-50%);
    background: url('/images/banner-back.png') no-repeat;
    background-size: 1400px;
}
.bg-front{
    position: relative;
    z-index: 5;
    img{
        width: 100%;
        height: auto;
    }
}

.banner-text{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    h1{
        font-family: "Lato", sans-serif;
        @include font-size(2.3rem);
        font-weight: 400;
        line-height: 28px;
    }
}
.btn-holder{
    padding-top: 40px;
}
